<div class="social-links">
    <a href="https://www.facebook.com/TumainiFestival" target="_blank" class="social-icon facebook" aria-label="Follow us on Facebook">
        <i class="fab fa-facebook-f"></i>
    </a>
    
    <a href="https://www.instagram.com/tumainifestival" target="_blank" class="social-icon instagram" aria-label="Follow us on Instagram">
        <i class="fab fa-instagram"></i>
    </a>
    
    <a href="https://twitter.com/TumainiFest" target="_blank" class="social-icon twitter" aria-label="Follow us on Twitter">
        <i class="fab fa-twitter"></i>
    </a>
    
    <a href="https://www.youtube.com/c/TumainiFestival" target="_blank" class="social-icon youtube" aria-label="Subscribe to our YouTube channel">
        <i class="fab fa-youtube"></i>
    </a>
    
    <a href="https://www.linkedin.com/company/tumaini-festival" target="_blank" class="social-icon linkedin" aria-label="Connect with us on LinkedIn">
        <i class="fab fa-linkedin-in"></i>
    </a>
</div> 